* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
@media (max-width: 550px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

body {
  background: linear-gradient(to right, #b5c1ff, #e7e7e7, #e7e7e7, #e7e7e7, #e7e7e7, #e7e7e7, #e7e7e7, #b5c1ff);
}

/*Clock*/
.clock-wrap {
  display: flex;
  justify-content: center;
}

.clock-border {
  width: 300px;
  height: 300px;
  background-color: #435de0;
  border-radius: 50%;
  border: 3px solid rgb(74, 102, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.face {
  position: relative;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle {
  width: 130px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 150px 0 0 150px;
  z-index: 1;
}

.segment > div {
  width: 120px;
  height: 120px;
  top: 0;
  left: 130px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0 125px 0 0;
  transform-origin: 0 130px;
}

.backlight {
  animation: countdown 30s linear forwards;
}

.segment div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 2.5s;
}

.segment div:nth-child(2) {
  transform: rotate(15deg);
  animation-delay: 5s;
}

.segment div:nth-child(3) {
  transform: rotate(30deg);
  animation-delay: 7.5s;
}

.segment div:nth-child(4) {
  transform: rotate(45deg);
  animation-delay: 10s;
}

.segment div:nth-child(5) {
  transform: rotate(60deg);
  animation-delay: 12.5s;
}

.segment div:nth-child(6) {
  transform: rotate(75deg);
  animation-delay: 15s;
}

.segment div:nth-child(7) {
  transform: rotate(90deg);
  animation-delay: 17.5s;
}

.segment div:nth-child(8) {
  transform: rotate(105deg);
  animation-delay: 20s;
}

.segment div:nth-child(9) {
  transform: rotate(120deg);
  animation-delay: 22.5s;
}

.segment div:nth-child(10) {
  transform: rotate(135deg);
  animation-delay: 25s;
}

.segment div:nth-child(11) {
  transform: rotate(150deg);
  animation-delay: 27.5s;
}

.segment div:nth-child(12) {
  transform: rotate(165deg);
  animation-delay: 30s;
}

.centre {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 68px;
  left: 68px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 3;
}

.centre-dial {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 43px;
  left: 44px;
  background-color: #435de0;
  border-radius: 50%;
  z-index: 5;
}

.dial {
  position: absolute;
  top: 10px;
  left: 112px;
  border-bottom: 120px solid #435de0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  transform-origin: 17px 120px;
  z-index: 4;
}

.turn {
  animation: turn 30s linear forwards;
}

.horizontal {
  position: absolute;
  width: 260px;
  height: 3px;
  top: 129px;
  left: 0;
  background-color: #435de0;
  z-index: 3;
}

.vertical {
  width: 3px;
  height: 260px;
  top: 0;
  left: 128px;
  position: absolute;
  background-color: #435de0;
  z-index: 3;
}

.mark {
  position: absolute;
  width: 260px;
  height: 260px;
  top: -10px;
  left: 0;
  z-index: 2;
}
.mark > div {
  top: 0;
  left: 130px;
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: #435de0;
  border-radius: 20px;
  transform-origin: 0 138px;
}

.mark div:nth-of-type(1) {
  transform: rotate(30deg) translate(0px, 15px);
}

.mark div:nth-of-type(2) {
  transform: rotate(60deg) translate(0px, 15px);
}

.mark div:nth-of-type(4) {
  transform: rotate(120deg) translate(0px, 15px);
}

.mark div:nth-of-type(5) {
  transform: rotate(150deg) translate(0px, 15px);
}

.mark div:nth-of-type(7) {
  transform: rotate(210deg) translate(0px, 15px);
}

.mark div:nth-of-type(8) {
  transform: rotate(240deg) translate(0px, 15px);
}

.mark div:nth-of-type(10) {
  transform: rotate(300deg) translate(0px, 15px);
}

.mark div:nth-of-type(11) {
  transform: rotate(330deg) translate(0px, 15px);
}

.mark div:nth-of-type(3) {
  display: none;
}

.mark div:nth-of-type(6) {
  display: none;
}

.mark div:nth-of-type(9) {
  display: none;
}

@keyframes countdown {
  0% {
    background-color: #8396f7;
  }
  100% {
    background-color: #8396f7;
  }
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/*Game*/
.game {
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media (max-width: 550px) {
  .game {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .game {
    height: 200px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.25em 0;
}
.buttons button {
  font-family: 'Open Sans', sans-serif;
  border: 3px solid #435de0;
  border-radius: .5em;
  background-color: #435de0;
  color: white;
  font-size: 1rem;
  padding: 5px 20px;
  width: 170px;
  cursor: pointer;
  transition: box-shadow 0.05s linear;
}

.buttons button:hover {
  box-shadow: 0 3px 5px 1px #999999;
}

ul {
  background: linear-gradient(to bottom, #b4c1ff, #cad3ff, #cad3ff, #cad3ff);
  border: 3px solid #435de0;
  border-radius: .25em;
  height: 22.5%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  display: flex;
  list-style-type: none;
  padding: 1%;
  margin: .25em;
  align-items: center;
  justify-content: center;
  cursor: move;
  color: white;
}
ul li {
  font-size: 2.5rem;
  background-color: #435de0;
  border-radius: .1em;
  margin: 0 0.75%;
  width: 11%;
  height: 100%;
  text-align: center;
  box-shadow: 0 3px 5px 1px #999999;
  vertical-align: middle;
  line-height: 2.5rem;
}
